@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
section{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #112d42;

}
section::before{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #03a9f4; 
}
section .container{
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  display: flex;
  z-index: 1000;
}
section .container .contactInfo{
  position: absolute;
  top: 40px;
  width: 350px;
  height: calc(100%-80px);
  background:#0f3959;
  z-index:1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 20px rgba(0,0,0,0.2);
}
section .container .contactInfo h2{
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
section .container .contactInfo .info{
  position: relative;
  margin: 20px 0;
}
section .container .contactInfo .info li{
  position: relative;
  list-style: none;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  align-items: flex-start;
}
section .container .contactInfo .info li span:nth-child(1){
  width: 30px;
  min-width: 30px;
}
section .container .contactInfo .info li span:nth-child(1) img{
  max-width: 100%;
  filter: invert(1);
  opacity: 0.5;
}
section .container .contactInfo .info li span:nth-child(2){
  color: #fff;
  margin-left: 10px;
  font-weight: 300;
  opacity: 0.5; 
}
section .container .contactInfo .info:hover li span:nth-child(1) img,
section .container .contactInfo .info:hover li span:nth-child(2){
  opacity: 1;
}
section .container .contactInfo .sci{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
}
section .container .contactInfo .sci li{
  list-style: none;
  margin-right: 15px;
}
section .container .contactInfo .sci li a{
  text-decoration: none;
}
section .container .contactInfo .sci li a img{
  filter: invert(1);
  opacity: 0.5;
}
section .container .contactInfo .sci li:hover a img{
  opacity: 1;
}
section .container .contactForm{
  position: absolute;
  padding: 70px 50px;
  background: #fff;
  margin-left: 150px;
  padding-left: 250px;
  width: calc(100%-150px) 
  height: 100%;
  box-shadow: 0 50px 50px rgba(0,0,0,0.5);
}
section .container .contactForm h2{
  color: #0f3959;
  font-size: 24px;
  font-weight: 500;
}
section .container .contactForm .formBox{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px; 
}
section .container .contactForm .formBox .inputBox{
  position: relative;
  margin: 0 0 35px 0;
}
section .container .contactForm .formBox .inputBox.w50{
  width: 47%;
}
section .container .contactForm .formBox .inputBox.w100{
  width: 100%;
}
section .container .contactForm .formBox .inputBox input,
section .container .contactForm .formBox .inputBox textarea{
  resize: none;
  width: 100%;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  border: none;
  border-bottom: 1px solid #777;
  outline: none; 
}
section .container .contactForm .formBox .inputBox textarea{
  min-height: 120px;
}
section .container .contactForm .formBox .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  transition: 0.5s;
  pointer-events: none;
}
section .container .contactForm .formBox .inputBox input:focus ~ span,
section .container .contactForm .formBox .inputBox textarea:focus ~ span,
section .container .contactForm .formBox .inputBox input:valid ~ span,
section .container .contactForm .formBox .inputBox textarea:valid ~ span{
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ff568c;
} 
section .container .contactForm .formBox .inputBox input[type="submit"]{
  position: relative;
  cursor: pointer;
  background: #005DA0;
  color: #fff;
  border: none;
  max-width: 150px;
  padding:  12px;
}
section .container .contactForm .formBox .inputBox input[type="submit"]:hover{
  background-color: #ff568c;
}
footer{
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background:#005DA0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .footer-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
footer .footer-container .sec{
  margin-right:30px;

}
footer .footer-container .sec.aboutUs{
  width: 40%;
}
footer .footer-container h2{
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}
footer .container .sec.aboutUs h2:before{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background:#f00;
}
footer p{
  color: #999;
}
.social{
  margin-top: 20px;
  display: flex;
}
.social li{
  list-style: none;
}
.social li a{
  display: inline-block;
  width: 40px;
  height: 40px;
  background:#222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}
.social li a:hover{
  background:#4a90e2;
}
.social li a .fa{
  color: #fff;
  font-size:20px; 
}
.quickLinks{
  position: relative;
  width: 25%;
}
.quickLinks ul li{
  list-style: none;
}
.quickLinks ul li a{
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
.quickLinks ul li a:hover{
  color: #fff;
}
.contact{
  width: calc(35%-60px);
  margin-right: 0 !important;
}
.contact .info{
  position: relative;
}
.contact .info li{
  display: flex;
  margin-bottom: 16px;
}
.contact .info li span:nth-child(1){
  color: #fff;
  font-size: 20px;
  margin-right: 10px;

}
.contact .info li span{
  color: #999;
}
.contact .info li a{
  color: #999;
  text-decoration: none; 
}
.contact .info li a:hover{
  color: #fff;
}
.copyright{
  width: 100%;
  background:#181818;
  padding: 8px 100px;
  text-align:center;
  color: #999;  
}